*,*:after,*:before{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
    font-family: arial;
    min-height: 100vh;

}

.container_line{
    width: 85%;   
}

.container_bar1{
    width: 85%;   
}
.container_bar2{
    width: 85%;   
}
h1{
    text-align: center;
    font-size: 46px;
}
#canvas{
    width: 30%;
}
#canvas_bar1{
    width: 30%;
}
#canvas_bar2{
    width: 30%;
}
#canvas_pie{
    width: 40%;
}
